{% extends "layout.html" %}
{% block title %}
    Contact
{% endblock %}

{% block body %}

	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url({{ url_for('static', filename='images/heading-pages-06.jpg') }});">
<h2 class="l-text2 t-center">
Contact
</h2>
</section>

<section class="bgwhite p-t-66 p-b-60">
<div class="container">
<div class="row">
<div class="col-md-6 p-b-30">
<div class="p-r-20 p-r-0-lg">
{#<div class="contact-map size21" id="google_map" data-map-x="40.614439" data-map-y="-73.926781" data-pin="{{ url_for('static', filename='images/icons/icon-position-map.png') }}" data-scrollwhell="0" data-draggable="1">#}
    <iframe style="height: 500px;width: 100%" src="https://maps.google.com/maps?q=Punjab%20University%20College%20of%20Information%20Technology%20Old%20Campus%20Katchery%20Road%D8%8C%20Near%20Anarkali%20Bazar%D8%8C%20Lahore%2C%2054000&amp;t=m&amp;z=15&amp;output=embed&amp;iwloc=near" aria-label="Punjab University College of Information Technology Old Campus Katchery Road، Near Anarkali Bazar، Lahore, 54000"></iframe>
{#</div>#}
</div>
</div>
<div style="margin-top: 50px;" class="col-md-6 p-b-30">
<h4 style="margin-left: 50px" class="m-text26 p-b-36 p-t-15">
CONTACT INFO
</h4>
    <ul style="margin-left: 80px;">
  <li>
      <span>
          <i>
              Address
          </i>
      </span>
    <ul style="margin-left: 20px">
      <li style="margin-top: 10px">PUCIT, Katchery Road, Lahore, Pakistan</li>
    </ul>
        </li>
  <li style="margin-top: 30px">
      <span>
          <i>
              Email Us
          </i>
      </span>
    <ul style="margin-left: 20px">
      <li>bcsf17a019@pucit.edu.pk</li>
      <li>bcsf17a019@pucit.edu.pk</li>
    </ul>
  </li>
  <li style="margin-top: 30px">
      <span>
          <i>
              Call Us
          </i>
      </span>
    <ul style="margin-left: 20px">
      <li>+1 (478) 888-8107</li>
    </ul>
  </li>
</ul>
</div>
</div>
</div>
</section>
{% endblock %}

{% block extra_script %}
    <script>
        document.getElementById("contact").setAttribute("class","sale-noti");
    </script>
{#    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>#}
	<script src="{{ url_for('static', filename='js/map-custom.js') }}"></script>

{% endblock %}
