{% extends "layout.html" %}

{% block title %}
    Product Detail
{% endblock %}

{% block body %}

<div class="bread-crumb bgwhite flex-w p-l-52 p-r-15 p-t-30 p-l-15-sm">
<span class="s-text17">
{{ name }}
</span>
</div>

<div class="container bgwhite p-t-35 p-b-80">
<div class="flex-w flex-sb">
<div class="w-size13 p-t-30 respon5">
<div class="wrap-slick3 flex-sb flex-w">
<div class="slick3">
<div class="item-slick3">
<div class="wrap-pic-w">
<img src="{{ url_for('static', filename='images/item-'+id+'.jpg') }}" alt="IMG-PRODUCT">
</div>
</div>
</div>
</div>
</div>
<div style="text-align: center;margin-top: 250px;" class="w-size14 p-t-30 respon5">
<h4 class="product-detail-name m-text16 p-b-13">
{{ name }}
</h4>
<span class="m-text17">
PKR {{ price }}
</span>


<div class="p-t-33 p-b-60">
<div class="flex-r-m flex-w p-t-10">
<div class="w-size16 flex-m flex-w">
    {% if user_login %}{% if buyer_login %}

<div class="btn-addcart-product-detail size9 trans-0-4 m-t-10 m-b-10">
<button onclick="add_to_cart({{ id }});" class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
Add to Cart
</button>
</div>
    {% endif %}
{% endif %}
</div>
</div>
</div>



</div>
</div>
</div>


{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/slick/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/slick-custom.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='vendor/sweetalert/sweetalert.min.js') }}"></script>
    <script type="text/javascript">
            $('.block2-btn-addcart').each(function(){
                var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
                $(this).on('click', function(){
                    swal(nameProduct, "is added to cart !", "success");
                });
            });

            $('.block2-btn-addwishlist').each(function(){
                var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
                $(this).on('click', function(){
                    swal(nameProduct, "is added to wishlist !", "success");
                });
            });

            $('.btn-addcart-product-detail').each(function(){
                var nameProduct = $('.product-detail-name').html();
                $(this).on('click', function(){
                    swal(nameProduct, "is added to wishlist !", "success");
                });
            });
        </script>
{% endblock %}
